.NavBar {
  height: 50%;
  width: 80%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  position: static;
}

.NavBar > a {
  color: #fff;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  background: maroon;
  border-radius: 20px;
  padding: 20px;
}

.NavBar > a:hover {
  color: #00f;
  transform: skew(-10deg);
}
