.StoryList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5em;
  box-sizing: border-box;
  padding: 5% 10%;
}

.StoryList .Share {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  border-radius: 40px;
  padding: 2em 5em;
  gap: 5em;
}

.StoryList .Share > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.StoryList .Share > a {
  font-size: 2em;
  text-decoration: none;
  background: linear-gradient(to bottom left, #40e0d0, #ff0080);
  border-radius: 10px;
  padding: 1%;
  color: #fff;
}

.StoryList .Share > a:hover {
  color: #ffd700;
  transform: scale(1.2);
  transition: 1s ease;
}
